class {
	sayHi() {
		alert('Hi');
	}
}
<!DOCTYPE html>
style {
	div {
		color: green;
	}
}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marko Demo</title>
</head>
<body>
	<h1>Tugas 3 ${data.kelas}</h1>
	<p>Kami menggunakan <b>template ${data.templat} </b>untuk tugas template engine.</p>
	<ul>
		<li for(list in data.lists)>${list.no} NRP: ${list.nrp} Nama: ${list.nama}, Asal daerah:${list.asal}</li>
	</ul>
	<p>Dosen:<b> ${data.dosen} </b></p>
</body>
</html>